
.head .title{
    padding: calc(2rem + 2.9vw) 0 calc(4rem + 4.2vw);
}

.head .collection-title{
    padding: calc(2rem + 2.9vw) 0 calc(4rem);
}

.head .collection-title h2{
    font-weight: 300;
}

.head .collection-sub{
    font-size: 1.4rem;
}

.head .logo{
    max-width: 50px;
}
.head h1{
    font-size: 70px;
    line-height: 72px;
    font-weight: 600;
    font-family: 'Crimson Pro', serif;
}
.sub{
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
}
.tag{
    color:#fff;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.tag:hover{
    color:#fff;
    border-bottom: 1px solid #fff;
}
.content{
    font-size: 16px;
}
.content h3{
    margin: 25px 0;
}

.content h2{
    margin: 35px 0;
}

.content img{
    max-width: 95%;
}

div.highlight{
    padding : 25px 25px 10px 25px;
}
.footerlogo{
    max-width: 100px;
}
.post{
    transition:0.5ms all cubic-bezier(1, 0, 0, 1);
}
.posts h1{
    font-family: 'Crimson Pro', serif;
}
.posts .post:hover{
    background:#000;
}
.posts a.post:hover {
    color: #fff;
}
.posts a.post {
    color: #000;
    text-decoration: none;
    font-family: 'Crimson Pro', serif;
    font-size: 35px;
    line-height: 43px;
}
.collection-body  h1{
    font-family: 'Crimson Pro', serif;
}

.collection-body a{
    color:#000;
}

.collection-body #references{
    margin-bottom: 40px;
}

.navbar-dark .nav-link{
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    color:#fff;
}
.nav-link{
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    color:#000;
}
.hero{
    padding-top:70px;
    padding-bottom:100px;
}
.hero h2{
    font-weight: 300;
}
.hero h1{
    font-family: 'Crimson Pro';
    font-size: 100px;
    line-height: .9;
}
.section-title{
    font-family: 'Crimson Pro';
    font-size: 60px;
    transform: translateY(-55%);
    float: right;
    padding-inline: 20px;
    background: white;
    position: absolute;
    right: 25px;
}

.item .heading{
    color: #000;
    font-weight: 600;
    font-family: 'Crimson Pro';
    font-size: 1.5em;
    line-height: 1.2;
    text-decoration: none;
}
@media only screen and (max-width: 767px){
    .head h1{
        font-size: 42px;
        line-height: 43px;
        font-weight: 800;
        margin-bottom: 35px;
    }
    .sub{
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: 400;
    }
    .hero h1{
        font-family: 'Crimson Pro';
        font-size: 55px;
        line-height: .9;
    }
    .section-title{
        font-size: 30px;
    }
}